<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css"></style>
    <title>TicSoft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="./OAuth_2/prueba.css" rel="stylesheet" type="text/css">
    <meta name="google-signin-client_id" content="665251628146-6lukt5lfm6afau043mjmicurun28cnmv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body class="back">
    <div class="sort">
        <img class="logo" src="../assets/LoginImagen/Logo.png" alt="">
        <div class="container">
            <img class="img_user" src="../assets/LoginImagen/Login_icono_usuario_grande.png">
            <div align="center">
                <select class="selector">
                <option disabled selected>Elija rol de Usuario</option>
                <option>Administrador</option>
                <option>Vendedor</option>

            </select>
            </div>
            <div class="input-group mb-3">
                <div class="in_line">
                    <span class="input-group-text">
                    <img align="center" class="icon" src="../assets/LoginImagen/Login_icono_usuario_pequeño.png">
                </span>
                    <input class="form-control" type="text" placeholder="ID Usuario">
                </div>
                <div class="in_line">
                    <span class="input-group-text">
                    <img class="icon" src="../assets/LoginImagen/Login_icono_contraseña.png">
                </span>
                    <input class="form-control" type="password" placeholder="Contraseña">
                </div>
            </div>
            <button class="log_button"><span>Ingresar</span></button>
            <div style="width:100%;">
                <div>
                    <hr width="40%" color="white" style="float: left;">
                </div>
                <div style="float: left; padding-left: 9%; color: white;">
                    o
                </div>
                <div>
                    <hr width="40%" color="white" style="float: right;">
                </div>

            </div>
            <div id="my-signin2" align="center"> </div>
        </div>
    </div>
    <footer class="foot">
        <label>
            <span>&copy;</span> TicSoft Group
            <br>
            MinTic 2021 Project
        </label>
    </footer>
</body>

<!-- 'onsuccess': onSuccess, 'onfailure': onFailure -->
<script>
    function renderButton() {
        console.log(gapi.signin2.render)
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
        });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</html>